html {
  width: 400px;
  height: auto;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #1d1919;
}

.cookie-list {
  padding: 0px 0;
  background-color: #1d1919;
}

.cookie-list .cookie-item {
  padding: 15px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
  transition: background-color 0.3s;
}

.cookie-item:hover {
  background-color: #2b2b28;
}

.cookie-list .cookie-item:last-child {
  border-bottom: none;
}

.cookie-list .cookie-key {
  font-weight: bold;
  color: #f8f8f8;
}

.cookie-list .cookie-value {
  display: none;
  margin-top: 10px;
  font-size: 14px;
  color: #555;
  word-break: break-all;
  padding: 10px;
  background-color: #f8f8f8;
}

.no-cookies {
  text-align: center;
  font-size: 14px;
  color: #555;
  margin: 10px;
}

#cookie-count {
  font-size: 11px;
  color: #555;
}

.cookie-list .cookie-item.active .cookie-value {
  display: block;
}

.cookie-list::-webkit-scrollbar {
  width: 4px;
}

.cookie-list::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.cookie-list::-webkit-scrollbar-thumb {
  background-color: #ff914d;
  border-radius: 3px;
}

.cookie-list::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 145, 77, 0.8); /* 0.8 for 80% opacity */
}

.hidden {
  display: none;
}
